@page
@model IndexModel
@{
    ViewData["Title"] = "WebAppTutorial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <img id="movingImage" src="~/GIF/Tidus.png" alt="Moving Image"/>
    <div class="text-center">
        <h1 id="Hello_FF" class="display-4">FINAL FANTASY</h1>
        <p>FFX was the best!</p>
    </div>

    <iframe width="1228" height="921"
            src="https://www.youtube.com/embed/5SJ16_T_6ZM?list=RD5SJ16_T_6ZM"
            title="Dissidia Final Fantasy Music - Cosmos (with lyrics)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
        web-share" allowfullscreen></iframe>

    <footer class="footer">
        <!-- Footer content goes here -->
        FFX December 17, 2001 &copy;
    </footer>
</body>
</html>
